/* Transition img */
.imgzoom {
  position: relative;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}

.imgzoom:hover:before {
  opacity: 0.4;
}

.imgzoom:after {
  position: absolute;
  display: block;
  width: 100%;
  top: 50%;
  transition: opacity 500ms;
  z-index: -1;
}

.imgzoom img {
  transform: scale(1);
  transition: transform 1000ms;
  z-index: -1;
}

.imgzoom:hover img {
  transform: scale(1.1);
}

.z-index-1 {
  z-index: 1;
}

/* Stars */
.stars {
  position: relative;
}

.stars>i {
  position: relative;
  width: 14px;
  background: #FFF;
  z-index: 10;
}

.stars:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 0.5px;
  background-color: #D6D6D6;
  z-index: 1;
}

/* Links */
.link-transition {
  text-decoration: none;
  transition: 0.3s;
}

.link-transition:hover {
  -webkit-box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 1px #87878F;
  box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 1px #87878F;
}

.btn-transition {
  transition: 0.3s;
}

/* Borders */
.border-none {
  border: none;
}

.border-radius-0 {
  border-radius: 0;
}

.border-line-bottom {
  border-bottom: 1px solid #D6D6D6;
}
.border-line-top {
  border-top: 2px solid #26fa22;
}

.border-error{
  border: 1px solid #26fa22;
}

.border-ok{
  border: 1px solid #26fa22;
}

/* Sizes */
.container-full {
  height: 100vh;
}

.max-width-1200 {
  max-width: 1200px;
}

.img-height {
  height: 350px
}

.font-size-brand {
  font-size: 39px;
}

.font-size-md {
  font-size: 44px;
}

.font-size-sm {
  font-size: 14px
}

.font-size-m {
  font-size: 15px;
}

/* Colors */
.bg-color-grey {
  background-color: #F8F9FA;
}

.bg-color-grey-1 {
  background-color: #F0F0F2;
}

.bold-600 {
  font-weight: 600;
}

.bold-500 {
  font-weight: 500;
}

.bold-400 {
  font-weight: 400;
}

.light-300 {
  font-weight: 300;
}

.txt-color-grey {
  color: #cfd6e1;
}

/* Nav */
.nav-color-bottom {
  border-bottom: 2px solid #26fa22;
}

.nav-color-top {
  border-top: 2px solid #26fa22;
}

.nav-link {
  color: white;
  font-weight: 300;
}

.nav-link:hover {
  color: #26fa22;
  transition: 0.3s;
}

.navbar .nav-icon {
  margin-right: 20px;
}

/* Checkout */
.checkout-cart-content {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: white;
  overflow: hidden;
}


/* Cart */
.shopping-cart {
  padding-bottom: 50px;
}

.shopping-cart.dark {
  background-color: #f6f6f6;
}

.shopping-cart .content {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: white;
}

.shopping-cart .block-heading {
  padding-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.shopping-cart .block-heading p {
  text-align: center;
  max-width: 420px;
  margin: auto;
  opacity: 0.7;
}

.shopping-cart .dark .block-heading p {
  opacity: 0.8;
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
  margin-bottom: 1.2rem;
  color: #3b99e0;
}

.shopping-cart .items {
  margin: auto;
}

.shopping-cart .items .product {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.shopping-cart .items .product .info {
  padding-top: 0px;
  text-align: center;
}

.shopping-cart .items .product .info .product-name {
  font-weight: 600;
}

.shopping-cart .items .product .info .product-name .product-info {
  font-size: 14px;
  /* margin-top: 15px; */
}

.shopping-cart .items .product .info .product-name .product-info .value {
  font-weight: 400;
}

.shopping-cart .items .product .info .quantity .quantity-input {
  margin: auto;
  width: 80px;
}

.shopping-cart .items .product .info .price {
  margin-top: 15px;
  font-weight: bold;
  font-size: 22px;
}

.shopping-cart .summary {
  border-top: 2px solid #26fa22;
  background-color: #F0F0F2;
  height: 100%;
  padding: 30px;
}

.shopping-cart .summary h3 {
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type) {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text {
  font-size: 1em;
  font-weight: 600;
}

.shopping-cart .summary .price {
  font-size: 1em;
  float: right;
}

.shopping-cart .summary button {
  margin-top: 20px;
}

.btn-delete {
  color: gray;
  background: none;
  border: none;
  padding: 0;
}

.btn-delete:hover {
  color: #26fa22;
}

/* Spinner */
.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #26fa22;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Checkout Form */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Checkout form */
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/* Media Queries */
/* Small devices (tablets, 100px and up)*/
@media (min-width: 100px) {
  .list-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .address{
    padding-top: 0 !important;
  }
}
/* Small devices (tablets, 550px and up)*/
@media (min-width: 550px) {
  .list-details {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
 
  
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .navbar-nav {
    max-width: 450px;
  }

  .shopping-cart .items .product .info {
    padding-top: 25px;
    text-align: left;
  }

  .shopping-cart .items .product .info .price {
    font-weight: bold;
    font-size: 22px;
    top: 17px;
  }

  .shopping-cart .items .product .info .quantity {
    text-align: center;
  }

  .shopping-cart .items .product .info .quantity .quantity-input {
    padding: 4px 10px;
    text-align: center;
  }
  .address{
    padding-top: 1.5rem !important;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .navbar-nav {
    max-width: 550px;
  }
}